<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" /> -->
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/main.css" /> -->
  <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/index.css" />
  <link href="https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
    <div>
      <div class="main-wrap">
        <div class="save-search">
          <input id="tab-1" type="radio" name="tab" class="save-post" checked><label for="tab-1" class="tab">Save New
            Post</label>
          <input id="tab-2" type="radio" name="tab" class="search"><label for="tab-2" class="tab">Search</label>
          <div class="form">
            <form method="POST" action="/api/users/create-post">
              <div class="save-post-htm">
                <div class="group">
                  <label for="user" class="label">URL</label>
                  <input id="url" name="content_link_url" type="text" class="input">
                </div>
                <div class="group">
                  <label for="user" class="label">Title</label>
                  <input id="title" name="title" type="text" class="input">
                </div>
                <div class="group">
                  <label for="user" class="label">Description</label>
                  <input id="description" name="description" type="text" class="input">
                </div>

                <!-- <div class="group">
            <label for="user" class="label">topic</label>
            <input id="topic" type="text" class="input">
          </div> -->
                <div class="group">
                  <label for="user" class="label">topic</label>
                  <select name="topic_id" class="input">
                    <option value="">Select a topic</option>
                    <option value="1">Education</option>
                    <option value="2">Fun</option>
                    <option value="3">Other</option>
                  </select>
                </div>

                <div class="group">
                  <button type="submit" class="button">Save</button>
                </div>


              </div>
            </form>
            <form method="POST" action="/api/users/search">
              <div class="search-htm">
                <div class="group">
                  <label for="user" class="label">title</label>
                  <input id="title1" type="user" class="input">
                </div>
                <div class="group">
                  <button type="submit" class="button">Search</button>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <ul>
        <% for (const post of posts) { %>

          <li>
            <a>
              <i class="pin"></i>
              <p>URL: <%= post.content_link_url %>
              </p>
              <p>Title: <%= post.title %>
              </p>
              <p>Description: <%= post.description %>
              </p>
              <p>Topic: <%= post.topic %>
              </p>
              <div class="icon">
                <span>
                  <%= post.date_posted %>
                </span>
                <i class="fa-solid fa-heart"></i>
                <i class="fa-solid fa-ranking-star"></i>
                <i class="fa-solid fa-comment"></i>
              </div>
            </a>
          </li>
          <% } %>

      </ul>

    </div>

</body>

</html
